GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
# Key to semi protect the API from being used by anything else than the frontend
API_KEY=
# List of allowed origins (frontend domains)
ALLOWED_ORIGINS=
# Currently generated via gcloud auth print-access-token for testing purposes
GCLOUD_API_KEY=
# From Google's AI Maker Suite https://makersuite.google.com/app/apikey (just for text models within the suite)
VERTEX_AI_API_KEY=