# List of allowed origins (frontend domains)
ALLOWED_ORIGINS=
# Currently generated via gcloud auth print-access-token for testing purposes
GCLOUD_API_KEY=
# From Google's AI Maker Suite https://makersuite.google.com/app/apikey (just for text models within the suite)
VERTEX_AI_API_KEY=